$color_blue: #678ff2;
$color_white: #ffffff;
$color_black: #000000;
$color_gray: #666565;


$madia_xxl: 1400px;
$madia_xl: 1200px;
$madia_l: 992px;
$madia_m: 768px;
$madia_s: 576px;
$madia_xs: 428px;
